body {
    background-color: #E8CE58;
}

.monster-image {
    width: 100vw;
    max-height: 100vh;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}