body {
    background-color: #E8CE58;
}

.monster-parent {
    position: relative;
    height: 100%;
    width: 100%;
}

.monster-image {
    width: 100vw;
    /* max-height: 100vh; */
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#monster-eye {
    animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
    0% {
        height: 56.25vw;
    }
    5% {
        height: 0.0vw;
    }
    8% {
        height: 0.0vw;
    }
    13% {
        height: 56.25vw;
    }
}